---
layout: default
title: News archive
---

{% include nav.html active='News' %}

<section class="front-section">
  <div class="container">
    <div class="newsletter col-wide">

      <h1><a href="{{ site.baseurl }}/news">News</a> / Archive</h1>

      {% assign postsByYearMonth = site.categories.newsletter | group_by_exp:"post", "post.date | date: '%B %Y'"  %}
      {% for yearMonth in postsByYearMonth %}
        <h3>{{ yearMonth.name }}</h3>
          <ul>
            {% for post in yearMonth.items %}
              <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
      {% endfor %}

    </div>

  </div>
</section>
