<div class="col-fixed" id="pagenav-sidebar">

  <!-- Check if this page is part of the Fortran guide -->
  {% for chapter in site.data.fortran_guide.chapters %}
    {% for learn_page in chapter.pages %}
      {% if learn_page.title == page.title %}
        {% assign inGuide=1 %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if inGuide %}

    <!-- If this page is part of the guide
          print the contents of the guide -->

    <h3>
      <i data-feather="book"></i>
      The Fortran Guide</h3>
    
    <div class="content">
    {% for chapter in site.data.fortran_guide.chapters %}
    
      {% if chapter.title != 'Appendices' %}
        {% assign chap_idx = forloop.index | append: "." %}
      {% else %}
        {% assign chap_idx = "" %}
      {% endif %}

      <b>{{chap_idx}} {{ chapter.title }}</b>

      <ul>
        {% for learn_page in chapter.pages %}

          {% if chapter.title != 'Appendices' %}
            {% assign page_idx = forloop.index %}
          {% else %}
            {% assign page_idx = site.data.fortran_guide.appendices[forloop.index] | append: "."  %}
          {% endif %}
        
          {% if learn_page.title == page.title %}
            <li>
              <b><a href="{{site.baseurl}}{{ learn_page.url }}">
                {{chap_idx}}{{page_idx}} {{ learn_page.title }}</a></b>
              <ul id="page-nav"></ul>
            </li>

          {% else %}
            <li><a href="{{site.baseurl}}{{ learn_page.url }}">
              {{chap_idx}}{{page_idx}}
              {{ learn_page.title }}</a></li>
          {% endif %}
    
        {% endfor %}
      </ul>

    {% endfor %}
    </div>

  {% else %}

    <!-- If this is a standalone page
          just print the contents for this page -->

    <h3>On this page:</h3>
    <div class="content">
    <ul id="page-nav"></ul>
    </div>

  {% endif %}

</div>

