<div class="col-narrow">
   <h3><i class="far fa-newspaper"></i> {% t nav_key.news %}</h3>
  
    <table>
    {% assign posts_to_show = 5 %}
    {% for post in site.posts limit:posts_to_show %}
      <tr>
        <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp; </td>
        <td style="white-space: nowrap; text-align: right">{{ post.date | date:"%d %b %Y" }}</td>
      </tr>
      {% comment %} <dd></dd> {% endcomment %}
    {% endfor %}
    </table>
    <p><a href="{{ site.baseurl }}/news">{% t news.more %}…</a></p>

  </br>


    <a class="twitter-timeline" data-height="500" href="https://twitter.com/fortranlang?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- {% include what_is_fortran.html %}

  {% include mailing_list.html %}

  {% include discourse.html %}

  {% include twitter.html %}

  {% include rss_feed.html %} -->

</div>
