<div class="col-narrow">
  <h3>News</h3>
  
    <table>
    {% assign posts_to_show = 5 %}
    {% for post in site.posts limit:posts_to_show %}
      <tr>
        <td><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp; </td>
        <td style="white-space: nowrap; text-align: right">{{ post.date | date:"%d %b %Y" }}</td>
      </tr>
      {% comment %} <dd></dd> {% endcomment %}
    {% endfor %}
    </table>
    <p><a href="/news/archive">More…</a></p>

  {% include what_is_fortran.html %}

  {% include mailing_list.html %}

  {% include twitter.html %}

  {% include rss_feed.html %}

</div>
