:root {
    /*****************************************************************************
    * Theme config
    **/
    --pst-header-height: 60px;
  
    /*****************************************************************************
    * Font size
    **/
    --pst-font-size-base: 15px; /* base font size - applied at body / html level */
  
    /* heading font sizes */
    --pst-font-size-h1: 26px;
    --pst-font-size-h2: 22px;
    --pst-font-size-h3: 18px;
    --pst-font-size-h4: 16px;
    --pst-font-size-h5: 16px;
    --pst-font-size-h6: 16px;
  
    /* smaller then heading font sizes*/
    --pst-font-size-milli: 14px;
  
    --pst-sidebar-font-size: .9em;
    --pst-sidebar-caption-font-size: .9em;
  }
  
  div.no-sidebar {
      display: none;
  }
  
  .hidden {
      display: none;
  }
  
  body {
      line-height: 1.5;
  }
  
  h1 {
      color: #734f96;
      font-weight: bold;
  }
  
  h2 {
      color: #734f96;
      font-weight: bold;
  }
  
  h3 {
      font-weight: bold;
  }
  
  div.newsbar {
      /*color: black;*/
      background: white;
      border: none;
      border-bottom: 1px solid #999;
      font-size: 120%;
      font-weight: bold;
      margin-top: 3em;
      margin-bottom: 1.5em;
      color: #333;
  }
  
  /*span.newsheader {
      float: left;
  }
  */
  
  span.newsdate {
      float: right;
  }

  
  div.col-12.col-md-3.bd-sidebar {
      max-width: 12em;
  }
  
  div#navbar-start {
      padding-right: 2em;
  }
  
  main.py-md-5 {
      padding-top: 2rem !important;
      max-width: 60em;
  }
  
  .toctree-l1.nav-item {
      padding-right: 1em;
  }

  .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #3889c4;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    padding: 15px 30px;
  }
  
  .btn:hover {
    background-color: #3889c4;
    color: white;
  }
  
  .btn.full-width {
    width: 100%;
  }
  .get_started {
      color:white;

  }
  .fortran_sidebar {
    min-width:min-content;
    background-color:white;
}