<section class="front-section">
  <div class="container">
    <div class="newsletter col-wide">

      {% for post in site.categories.newsletter limit:5 %}

        <h1>{{ post.title }}</h1>

        <div style="margin-top: 0.5em; margin-bottom: 0.5em;">
          <p><b>{{ post.date | date: "%d %B %Y" }}</b></p>
            {% if post.author %}
              <p><b>Authors:</b> {{ post.author }}</p>
            {% endif %}
        </div>
        
        {% if post.title == site.categories.newsletter.first.title %}
          {{ post.content }}
        {% else %}
          {{ post.excerpt }}
          <a class="release-date" href="{{ site.baseurl }}{{ post.url }}">
            Read more > </a>
        {% endif %}
      </br>

      {% endfor %}

    </div>

    {% include news_sidebar.html %}
  </div>
</section>

  <section class="front-section shaded">
    <div class="container">
      <div class="col-wide">
        
        See the 
          <a href="{{ site.baseurl }}/news/archive">news archive</a> for older posts  
      </div>
    </div>

</section>
