---
layout: default
title: Fortran-lang Community
description: Collaboration for the advancement of Fortran
---

{% include nav.html active='Community' %}

<section class="masthead">
  <h1>{{ page.title }}</h1>
  <h3>{{ page.description }}</h3>
</section>

<section class="front-section shaded">
    <div class="container">
      <h2>Fortran-lang community projects</h2>
  
      <div class="col-narrow">

        <h3><i data-feather="database"></i>
          Fortran Standard Library (stdlib)</h3>
        <p>
        A community-driven project for a <i>de facto</i> "standard" library for Fortran.
        The stdlib project is both a specification and a reference implementation, developed in
        cooperation with the Fortran Standards Committee.
        Find out more on
        <a href="https://github.com/fortran-lang/stdlib" target="_blank">
          <i class="devicon-github-plain colored"></i> GitHub</a>.
        </p>
        {% include img_cached.html src="//img.shields.io/github/stars/fortran-lang/stdlib?style=social" %}
        {% include img_cached.html src="//img.shields.io/github/forks/fortran-lang/stdlib?style=social&label=Fork" %}
        {% include img_cached.html src="//img.shields.io/github/last-commit/fortran-lang/stdlib?color=blue" %}
        {% include img_cached.html src="//img.shields.io/github/issues/fortran-lang/stdlib" %}

      

        <h3><i data-feather="package"></i>
          Fortran Package Manager (fpm)</h3>
        <p>
        A prototype project to develop a common build system for Fortran packages
        and their dependencies.
        Find out more on
        <a href="https://github.com/fortran-lang/fpm" target="_blank">
          <i class="devicon-github-plain colored"></i> GitHub</a>.
        </p>
        {% include img_cached.html src="//img.shields.io/github/stars/fortran-lang/fpm?style=social" %}
        {% include img_cached.html src="//img.shields.io/github/forks/fortran-lang/fpm?style=social&label=Fork" %}
        {% include img_cached.html src="//img.shields.io/github/last-commit/fortran-lang/fpm?color=blue" %}
        {% include img_cached.html src="//img.shields.io/github/issues/fortran-lang/fpm" %}


        <h3><i data-feather="globe"></i>
          fortran-lang.org</h3>
        <p>
        This website is open source and contributions are welcome!
        Find out more on
        <a href="https://github.com/fortran-lang/fortran-lang.github.io" target="_blank">
          <i class="devicon-github-plain colored"></i> GitHub</a>.
        </p>
        {% include img_cached.html src="//img.shields.io/github/stars/fortran-lang/fortran-lang.github.io?style=social" %}
        {% include img_cached.html src="//img.shields.io/github/forks/fortran-lang/fortran-lang.github.io?style=social&label=Fork" %}
        {% include img_cached.html src="//img.shields.io/github/last-commit/fortran-lang/fortran-lang.github.io?color=blue" %}
        {% include img_cached.html src="//img.shields.io/github/issues/fortran-lang/fortran-lang.github.io" %}

        </br>

      </div>

      <div class="col-narrow">
        <div id="fortran-lang-gh-feed" style="height: 500px;"></div>
      </div>
      
    

    </div>
  </section>

<section class="front-section">
  <div class="container">
  <h2>Get Involved!</h2>

  <div class="col-narrow">
    <h3>Ways to contribute?</h3>
  </div>

  <div class="col-narrow">
    <h3>Contributor guides</h3>
  </div>
  
  <div class="col-narrow">
    <h3>Community conduct</h3>
  </div>
  
  </div>
</section>

<section class="front-section shaded">
  <div class="container">
    <h2>Fortran-lang Contributors</h2>
    
</div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/github-activity-0.1.5/github-activity-0.1.5.min.js"></script>
<script>

  GitHubActivity.feed({
    username: "fortran-lang",
    selector: "#fortran-lang-gh-feed",
    limit: 20 // optional
  });
  
  </script>
  

