---
layout: default
---

{% capture active %}{% t nav_key.packages %}{% endcapture %}
{% include nav.html active=active %}

<section class="masthead">
    <h1>{% t packages.featured %}</h1>
    <h3>{% t packages.tagline %}</h3>
  </section>
  
  <section class="front-section">
    <div class="container">
      <div class="col-wide">
        
         <h2> <a href='{{ site.baseurl }}/packages'> {% t nav_key.packages %}</a> / 
            {% if page.feather-icon %}
            <i data-feather="{{ page.feather-icon }}"></i>
            {% endif %}
            {% t page.title %}</h2>
          <h3>
              {% t page.description %}
          </h3>
  
          <table class="projects-table">
         
          {% assign catProjects =  site.data.package_index | sort_natural:"name" | where_exp:"project", "project.categories contains page.code_category"%}
          {% for project in catProjects %}
          <tr>
              {% if project.github %}
              <td> <h3><a href="https://github.com/{{ project.github }}" target="_blank">
                <i class="devicon-github-plain colored"></i>
                {{ project.name }}</a></h3> </td>
              <td> {% if project.version %}
                  {% if project.version != 'none' %}
                  <img src="https://img.shields.io/badge/version-{{ project.version | replace: " ", "%20" | replace: "-", "--" }}-green.svg">
                  {% endif %}
                  {% else %}
                  <img src="https://img.shields.io/github/v/release/{{ project.github }}?color=green">
              {% endif %}</td>
              <td> {% if project.license %}
                   <img src="https://img.shields.io/badge/license-{{ project.license | replace: " ", "%20" | replace: "-", "--" }}-green">
                   {% else %}
                   <img src="https://img.shields.io/github/license/{{ project.github }}">
               {% endif %}</td>
              <td> <img src="https://img.shields.io/github/stars/{{ project.github }}"></td>
              <td> <img src="https://img.shields.io/github/forks/{{ project.github }}"> </td>
              <td> <img src="https://img.shields.io/github/last-commit/{{ project.github }}?color=blue"> </td>
              <td> <img src="https://img.shields.io/github/issues/{{ project.github }}"> </td>
              {% else %}
              {% if project.gitlab %}
              <td> <h3><a href="https://gitlab.com/{{ project.gitlab }}" target="_blank">
                  <i class="devicon-gitlab-plain colored"></i>
                {{ project.name }}</a></h3> </td>
              <td> {% if project.version %}
                  {% if project.version != 'none' %}
                  <img src="https://img.shields.io/badge/version-{{ project.version | replace: " ", "%20" | replace: "-", "--" }}-green.svg">
                  {% endif %}
                  {% else %}
                  <img src="https://badgen.net/gitlab/release/{{ project.gitlab }}?color=green">
              {% endif %}</td>
              <td> {% if project.license %}
                   <img src="https://img.shields.io/badge/license-{{ project.license | replace: " ", "%20" | replace: "-", "--" }}-green">
                   {% else %}
                   <img src="https://badgen.net/gitlab/license/{{ project.gitlab }}">
               {% endif %}</td>
              <td> <img src="https://badgen.net/gitlab/stars/{{ project.gitlab }}"></td>
              <td> <img src="https://badgen.net/gitlab/forks/{{ project.gitlab }}"> </td>
              <td> <img src="https://badgen.net/gitlab/last-commit/{{ project.gitlab }}?color=blue"> </td>
              <td> <img src="https://badgen.net/gitlab/open-issues/{{ project.gitlab }}"> </td>
              {% else %}
              <td> <h3><a href="{{ project.url }}" target="_blank">
                {% if project.url contains "gitlab.com" %}
                  <i class="devicon-gitlab-plain colored"></i>
                {% endif %}
                {% if project.url contains "bitbucket.org" %}
                <i class="devicon-bitbucket-plain colored"></i>
                {% endif %}
                {{ project.name }}</a></h3> </td>
              <td> {% if project.version %}
                  {% if project.version != 'none' %}
                  <img src="https://img.shields.io/badge/version-{{ project.version | replace: " ", "%20" | replace: "-", "--" }}-green.svg">
                  {% endif %}
                  {% endif %}
              </td>
              <td> {% if project.license %}
                  <img src="https://img.shields.io/badge/license-{{ project.license | replace: " ", "%20" | replace: "-", "--" }}-green">
                  {% endif %}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              {% endif %}
              {% endif %}
          </tr>
          <tr><td colspan="7" class="light">
              {{ project.description }}
          </td></tr>
          <tr><td colspan="7" class="light small">
          <b>{% t packages.tags %}: </b>{{ project.tags }}
        </td></tr>
          <tr><td colspan="7"></td></tr>
          {% endfor %} 
          
          </table>        
         
      </div>
  
    </div>
  </section>
  
  <section class="front-section shaded">
    <div class="container">
      <div class="col-wide">
        <!-- <h2 id="faqs">FAQ</h2> -->

        {% tf packages/footer_text.html %}
  
    </div>
  </section>
  
