---
layout: default
---

{% include nav.html active=page.navbar %}

<section class="front-section">
  <div class="container">
    <div class="newsletter col-wide">

      <h1>{% t page.title %}</h1>

      <div style="margin-top: 0.5em; margin-bottom: 0.5em;">
        <i>{{ page.date | date: "%B %d, %Y" }}</i>
        {% if page.author != null %}
          <p><i>{% t news.authors %}</i> {{ page.author }}</p>
        {% endif %}
      </div>

      {{ content }}

    </div>

    {% include news_sidebar.html %}
  </div>
</section>
